<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GravityDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84A1DBFE1D8936AB00492F68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84A1DC121D8936AC00492F68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84A1DC1D1D8936AC00492F68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
